In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("hw2.ipynb")

## <u>Name:</u> [Your name] and (your onyen)

I encourage discussing ideas and brainstorming with your peers, but the final text, code, and comments in this homework assignment MUST be 100% written by you as mentioned in syllabus.

# Homework 2: Pandas (30 points)

<img src="https://get.pxhere.com/photo/Zoo-Berlin-zoo-berlin-panda-plant-carnivore-nature-branch-biome-terrestrial-animal-natural-material-trunk-tree-snout-fur-nature-reserve-jungle-twig-tail-split-rail-fence-wildlife-grass-wood-bear-claw-1643708.jpg" width=600px>
<div style="text-align: center"> </div>

**STOP LOOKING AT THE CUTE PANDAS AND READ THIS!!**

Please complete this notebook by filling in the cells provided. Be sure to run the cell above that loads the autograder, run all assignment the cells, then be sure to save your notebook before generating your submission by running the last cell (again, if you ran everything before saving).

!! Please submit a PDF of your notebook and upload it to Gradescope along with the generated zip file in the same submission.  If no ZIP file is submitted, you will get 0 for the autograder portion. If no PDF submitted, **points will be deducted**.  You can make a PDF from JupyterHub by 1. File->Print or 2. Command+P (on Mac), then choose 'Save to PDF'. This saves the file on your laptop.  You can then drag and drop the zip & pdf file together to the upload box on Gradescope.

!! Points will also be **deducted** if you do not include your name and Onyen in the Markdown cell above!

Note that for homework, the autograder is useful feedback that you should pay attention to, and the autograder gives additional feedback when you submit to Gradescope, so we encourage you to submit as often as you like!  Note that only the last submission will be used for grading.  Also note that passing the autograder for a problem **DOES NOT GUARANTEE** you will get full credit on the problem (some tests are run after submission, and manual grading is used to verify the assignment instructions were followed).

In [ ]:
import pandas as pd

## Problem 1. Creating Tables (10 points)
Instead of a list of lists, it is often easier to use a table to represent groups of data.  In most cases, you will be using data that you are reading in from a file; in fact, sometimes you might be using data that is so big it can't fit in memory, and HAS to be accessed from a file!  But it can still be useful to know how to build a table from scratch, and understanding how to do it also provides insight into the behavior of tables.  Run the code below to see an example of how to create a table.

In [ ]:
import pandas as pd
row_list0 = [1, 2, 3]
row_list1 = [4, 5, 6]
row_list2 = [7, 8, 9]
df = pd.DataFrame( data=[row_list0, row_list1, row_list2], columns=['name', 'rank', 'serial number'])
df

**Problem 1.1 (2 points).** Suppose you're using Python to help solve a high school Algebra problem.  You have several groups of shapes: 8 squares, 6 triangles, and 3 rectangles.  Create a table (pandas DataFrame) named `shapes_df` that contains this information. It should have two attributes or pieces of information about each shape: `'Shape name'` and `'Count'`.  Note: Use lower-case and singular words for the name of each shape, like "square".

In [ ]:
shapes_df = ...
autograder1_1=shapes_df.copy()

In [ ]:
grader.check("q1.1")

**Problem 1.2 (1 point).** Write code that computes the total count of the shapes in the table and assigns it to a variable named `shape_count`.  Note: the answer is not 3.

In [ ]:
shape_count = ...

**Problem 1.3 (2 points).** Suppose you are given a second group of triangles.  We will add these by adding another row to the table.  To do this, note that `df.loc[rownum]` returns a particular row of `df` according to the row label (index), and `len(df)` returns the current number of rows of `df`.  To add a new row to our example table from above:

In [ ]:
df.loc[len(df)] = [ 10, 11, 12]
df

Your turn.  Add a group with a `Shape name` of `triangle` and a `Count` of 5 to the end of table `shapes_df`.

In [ ]:
...
autograder1_3=shapes_df.copy()

In [ ]:
grader.check("q1.3")

**Problem 1.3 (2 points).** Add a new attribute to `shapes_df` named `'Sides'` and initialize the value for all the shapes to be 4 (just for now!).

In [ ]:
...
autograder1_4=shapes_df.copy()

In [ ]:
grader.check("q1.4")

**Problem 1.5 (1 points).** Now let's correct the number of sides the triangles!  I'm sure this was bothering some of you!  To do this, use **Boolean indexing** as covered in lecture.  A Boolean index is a sequence of True/False values that results from a comparison on a particular column.  Create a Boolean index to select all `triangle` rows and assign this to the variable `triangle_bool_index`.  Hint:  the cell below shows an example:

In [ ]:
example_bool_index=df['name']==4
list(example_bool_index)

In [ ]:
triangle_bool_index = ...
list(triangle_bool_index)

In [ ]:
grader.check("q1.5")

**Problem 1.6 (2 points).** To change the sides for just triangles, we need to set the value of particular cells.  In Problem 1.3 you used `loc()` to add a new row; similarly, we can use `loc()` to assign cells of a particular column for only our Boolean indexed rows.  Again, see the example below for `df`:

In [ ]:
df.loc[ example_bool_index, 'serial number' ] = 99
df

The above code is effectively "For all the rows in which `name` equals 4, set the value for `serial number` to be 99.  Similarly, your task is to set the sides for triangles in `shapes_df` to 3 using Boolean indexing (`triangle_bool_index`) and `loc()`.

In [ ]:
...
shapes_df

In [ ]:
grader.check("q1.6")

**Extra Credit (1 point).** Using Pandas column operations, write a single line of code to compute the total number of sides in the table `shapes_df`.

In [ ]:

total_sides = ...
total_sides

## Problem 2. R.O.U.S.es (10 points)
**R**odents **O**f **U**nusual **S**ize are fabled to be one of the most fearsome creatures you might ever encounter, but accounts of their attributes vary widely.

**Problem 2.1 (1 point).** Run the following code to load a table of all known data about R.O.U.S.es. How many attributes or different pieces of information have been measured for R.O.U.S.es?  Assign that number to `num_attributes`.

In [ ]:
import pandas as pd
rodents_of_unusual_size = pd.read_csv("ROUSes.csv")
rodents_of_unusual_size

In [ ]:
# write your code here by replacing the "..." with your solution
num_attributes = ...
print(num_attributes)

In [ ]:
grader.check("q2.1")

**Problem 2.2 (1 point).** Write pandas code to compute the number of R.O.U.S.es in the table that are Female.  Assign that number to `num_female`.

In [ ]:
# write your code here by replacing the "..." with your solution
...
print(num_female)

**Problem 2.3 (1 point).** Write pandas code to compute the number of R.O.U.S.es that are of either 'Sleepy' or 'Playful' temperament.  Assign that number to `num_harmless`.

In [ ]:
...
print(num_harmless)

**Problem 2.4 (2 points).** Write pandas code to compute the total weight of R.O.U.S.es that are playful and not female and under the age of 10.  Assign that number to `total_weight`.

In [ ]:
...
print(total_weight)

**Problem 2.5 (1 point)** Sometimes sorting or grouping the data by an attribute can help to make sense of the data.  Write pandas code to sort the data by `Length`. No need to save or assign the modified table to a variable.  This question will be manually graded.

In [ ]:
...

**Problem 2.6 (1 point).**  With the data sorted by age, what trends do you see in the `Temperament`?  Are there any exceptions to the trends? No need to calculate anything.

_Type your answer here, replacing this text._

**Problem 2.7 (2 points).** Some people report that real danger from R.O.U.S.es is that they are very uncoordinated and sometimes trip and fall onto people, so `Weight` is actually the attribute which represents the biggest threat.   Write a `for` loop that calculates the mean weight for each temperament, and **print**s it along side the temperament.  This question will be manually graded.

Hint: this is just like a problem we covered in lecture.

In [ ]:
...

**Problem 2.8 (1 point).** What temperament on average would be the most dangerous to encounter?  What temperament on average would be the least dangerous to encounter?

_Type your answer here, replacing this text._

## Problem 3. (10 points). Burritos
A certain Carolina student from DATA110H is visiting California for Spring Break this year, and they intend to use their newly-mastered Data Science skills to make sure they have some great burritos while they are there.  And the rest of the DATA110H students get this delightful homework problem out of the experience!  The student found some data files with reviews and menu information for some California burrito restauraunts.

**Problem 5.1 (1 point).** Write the code to load the file "burrito_ratings.csv" into a DataFrame named `burritos`.

In [ ]:
import pandas as pd
pd.options.display.max_colwidth=15

burritos = ...

print(burritos)

In [ ]:
grader.check("q3.1")

**Problem 3.2 (1 point).** Write code to calculate average cost of items in the table `burritos` rounded to the nearest cent.

In [ ]:
average_cost = ...
average_cost

**Problem 3.3 (2 points).** Make a new table called `top_rated_burritos` that is just like `burritos` but only includes entries that have an Overall rating >= 4.1.

In [ ]:
...
print(top_rated_burritos)

**Problem 3.4 (1 points).** Write pandas code to compute the average cost of menu item entries that have a Overall rating >= 4.1, again rounded to the nearest cent.

In [ ]:
...
print(average_cost_top_rated)

In [ ]:
print(round(average_cost_top_rated-average_cost,2))

**Problem 3.5 (2 points).** Only 37 cents more for a great burrito instead of an average one...count me in!  But then the student realized, not all the items are the kind of burrito that they like, or even burritos at all!  In particular, the student likes Asada-style burritos, which just have a menu item name containing the word `Asada`.  To make sure there are enough choices, the student also decides to lower their standards a little on the rating requirement.  Write code to calculate how many Asada burrito options there are that have a Overall rating > 3.5, and assign this to a variable named `type_rated_Asada_count`

**Hint**: You'll need to figure out how to check if a particular word is in a string (there are several ways to do this). Take a look at [https://pandas.pydata.org/docs/reference/api/pandas.Series.str.find.html](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.find.html) for one such way.

**Hint**: Your answer does not have to be in a single line of code.

In [ ]:
...
print(top_rated_Asada_count)

**Problem 3.6 (1 point).** Now, feeling confident in their analysis, the student feels they are armed with the knowledge they will need to have a great burrito experience.  But when their DATA110H professor finds out about what they've been working on, the professor asks them to clean up the data even more so it can be used for future DATA110H classes.  First, they ask the student to use a pandas function to make a new table `burritos_compact` that has the attributes for Google and Yelp scores removed.  Write the code below.

In [ ]:
burritos_compact = ...
print( burritos_compact)

**Problem 3.7 (2 points).** And finally, the professor asks the student to add one extra attribute to `burritos_compact`.  The attribute should be named `'Overall_Value'` which is 100.0 times the Overall rating divided by the item cost, rounded to the nearest integer.  Write the code for `burritos_extravalue` below.

In [ ]:
...
print(burritos_compact)

**Extra Credit (1 point).** What is the name of the menu item with the highest value?  Credit will only be given for an exact match.

In [ ]:

highest_value_item = ...
highest_value_item

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

Submit zip file and PDF to Gradescope Homework2

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False, run_tests=True)