# Python Programming #

## Basic calculation ##

In [ ]:
2 + 9

In [ ]:
2 * 4

In [ ]:
# The line below errors
* 4

In [ ]:
2 ** 4

In [ ]:
# The line below errors 
2 * * 4

In [ ]:
5 % 3

In [ ]:
2/9

In [ ]:
2.0 * 9.0

In [ ]:
2.00 * 9.00

In [ ]:
2.0/9.0

In [ ]:
2 + 3 * 9

In [ ]:
(2 + 3) * 9

In [ ]:
5 % 3 * 2

In [ ]:
(5 % 3) * 2

In [ ]:
5 % ( 3 * 2)

In [ ]:
2 * 5 % 3

In [ ]:
2 * 2 ** 3

In [ ]:
(2 * 2) ** 3

In [ ]:
-1 - 1 + 2 * (3 * 4 * 5 / 6) ** 3 + 7 + 8 + 11

In [ ]:
'hello'

In [ ]:
'DATA110'

In [ ]:
1 + 1

In [ ]:
1.0 + 1.0

In [ ]:
#PollEverywhere question
# What will the answer be?
'1' + '1'

## Names ##

In [ ]:
a = 2

In [ ]:
a

In [ ]:
# The line below causes a name error if b isn't assigned yet.
b

In [ ]:
b = 3
a * b

In [ ]:
a

In [ ]:
b

In [ ]:
total = a + b
total

In [ ]:
a = 10
total

In [ ]:
total

In [ ]:
a

In [ ]:
total = a + b
total

In [ ]:
# The line below causes a syntax error
a + b = total

In [ ]:
a = a + 1
a

## Why Names?

A cell with arithmetic but no names is difficult to interpret.

In [ ]:
# Option 1
40 * 7.25

In [ ]:
40 * 52 * 7.25

The North Carolina minimum wage is $7.25 per hour.

In [ ]:
# Option 2
nc_hourly_minimum_wage = 7.25
hours_per_week = 40
weeks_per_year = 52

In [ ]:
hours_per_year = hours_per_week * weeks_per_year

In [ ]:
hours_per_year

In [ ]:
weekly_wages = hours_per_week * nc_hourly_minimum_wage
weekly_wages

In [ ]:
yearly_wages = weekly_wages * weeks_per_year
yearly_wages

In March 2023, Senate Bill 440 was introduced to increase the North Carolina minimum wage to $15 per hour.

In [ ]:
y = 10
y

In [ ]:
# careful if you re-run a cell that has code like this!
y = y + 10
y

## Functions and Call Expressions

In [ ]:
abs(-5)

In [ ]:
abs(1 - 3)

In [ ]:
day_temp = 52
night_temp = 47
abs(night_temp - day_temp)

In [ ]:
min(14, 15)

In [ ]:
round(123.456)

In [ ]:
round(123.456, 1)

In [ ]:
round(123.456, ndigits=1)

In [ ]:
round?

In [ ]:
round(number=123.456)

In [ ]:
# The line below causes a type error because the wrong name was used.
round(123.456, digs=1)

In [ ]:
# The line below causes an error because the sqrt function is not built-in
sqrt(2)

In [ ]:
# The line below causes an error if math has not been imported
math.sqrt(2)

In [17]:
import math

In [ ]:
math.sqrt(2)

## Types and Type Conversion

In [ ]:
'Hello' + ' ' + 'world'

In [ ]:
float('1.2')

In [ ]:
str(1.2)

In [ ]:
int(1.2)

In [ ]:
float('one point two')

In [ ]:
float(2)

In [ ]:
float('2')

In [ ]:
int('1.2')

In [ ]:
int(float('1.2'))