# while loops

In [ ]:
# keep rolling a dice until we get a six
# note all the indentation
import random
rolled_a_six_flag = False
while rolled_a_six_flag != True:
    roll = random.randint(1, 6)
    if roll == 6:
        rolled_a_six_flag = True
    print(f"Roll: {roll}")
print("We did it!")

In [ ]:
# keep rolling a dice until we get a six (less code, but maybe more confusing)
import random
# initialize roll to something that won't make the while conditional true
roll = 1 
while roll != 6:
    roll = random.randint(1, 6)
    print(f"Roll: {roll}")
print("We did it!")

In [ ]:
# keep rolling a two dice until you we double sixes
import random
rolled_double_sixes_flag = False
while rolled_double_sixes_flag != True:
    roll1 = random.randint(1, 6)
    roll2 = random.randint(1, 6)
    if roll1 == 6 and roll2 == 6:
        rolled_double_sixes_flag = True
    print(f"Rolls: {roll1}, {roll2}")
print("Get out of jail free!")

# break

In [151]:
items = [10, 20, 30, 40, 50]
target = 30
   
for item in items:
    print(f"Checking {item}...")
    if item == target:
        print(f"Found {target}!")
        break

Checking 10...
Checking 20...
Checking 30...
Found 30!

In [ ]:
# keep rolling a dice until you get a six (using break)
import random
while True:
    roll = random.randint(1, 6)
    print(f"Roll: {roll}")
    if roll == 6:
        break
print("We did it!")

# Importing pandas and reading in a table

In [ ]:
import pandas as pd

In [ ]:
nba_df = pd.read_csv('nba_salaries.csv')
nba_df

In [ ]:
type(nba_df)

# First glance - basic info about the table

In [ ]:
nba_df.head(10)

In [ ]:
nba_df.tail()

In [ ]:
nba_df.sample(5)

In [ ]:
nba_df.info()

In [ ]:
nba_df.shape # number of rows, number of columns

In [ ]:
nba_df.columns

In [ ]:
nba_df.index

In [ ]:
nba_df.dtypes # object usually means string

In [ ]:
nba_df.describe() # only works on numerical columns

# Selecting columns

In [ ]:
nba_df.name

In [ ]:
nba_df['name']

In [ ]:
nba_df.at[3, 'name'] # this is row label or index 3, not 3 from the top

# Manipulating columns

In [ ]:
nba_df.salary.min(), nba_df.salary.max() # this is an aggregation function - computes a single number from the column

In [ ]:
nba_df.salary.mean(), nba_df.salary.sum() # this one as well

In [ ]:
nba_df.salary/1000 # this is a transformation function - you get back a column of the same shape.

In [ ]:
nba_df.name + ' (' + nba_df.team + ')'

In [ ]:
# This will throw an error - why?
# nba_df.name + ' (' + nba_df.salary + ')'

In [ ]:
nba_df.name + ' (' + nba_df.salary.astype(str) + ')'

In [ ]:
nba_df.position.value_counts() # only meaningful if you have not too many options

Someone asked: Why does this look different? 

This is a Pandas data type for arrays, which you can think of as a single column or row that's not actually a table.

In [ ]:
pos_counts = nba_df.position.value_counts()
type(pos_counts)

If we want, we can turn it into a table with one column by running the following code.

In [ ]:
pd.DataFrame(pos_counts)

# Selecting more than one column and and dropping columns

In [ ]:
nba_df.filter(['name', 'salary']) # list of column names

In [ ]:
nba_df.drop(columns=['rank']) # columns = list of column names

# Adding new columns or rewriting columns

Nothing we've done so far changed the original table `nba_df`.

In [ ]:
nba_df['sport'] = 'basketball'
nba_df

In [ ]:
nba_df['salary (in M)'] = nba_df['salary']/1000000
nba_df

In [ ]:
nba_df['salary (in M)'] = nba_df['salary (in M)'].round(2)
nba_df

# Fun string methods again

In [ ]:
nba_df.name.str.lower()

In [ ]:
nba_df.name.str.split()

In [ ]:
nba_df.name.str.get(0)

In [ ]:
nba_df.name.str.split().str.get(0) # you can combine them

# Example questions

1. How would you replace every team name with just the team without the city, for example ‘Los Angeles Lakers’ -> ‘Lakers’?
2. How would you get the number of times each team appears in this table, for example: Charlotte Hornets appears 150 times and Houston Rockets  appears 299 times.

In [ ]:
# Example Question #1 answer
nba_df.team.str.split().str.get(-1)
nba_df
# The line below would do the replacement, which would change the original table
# nba_df.team = nba_df.team.str.split().str.get(-1)

In [ ]:
# Example Question #2 answer
nba_df.team.value_counts()